{% extends 'base.html.twig' %}

{% block title %}Accueil - Plateforme Examens{% endblock %}

{% block body %}
<div style="text-align: center; margin-top: 100px;">
    <h1>Plateforme d'Examens</h1>
    <p>Bienvenue dans l'interface d'administration.</p>

    <hr>

    <div style="display: flex; justify-content: center; gap: 20px; margin-top: 30px; flex-wrap: wrap;">

        <div style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; width: 200px; background-color: #f9f9f9 ">
            <h3>Filières</h3>
            <a href="{{ path('app_filiere_index') }}" class="btn">Gérer</a>
        </div>

        <div style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; width: 200px; background-color: #f9f9f9 ">
            <h3>Diplômes</h3>
            <a href="{{ path('app_diplome_index') }}" class="btn">Gérer</a>
        </div>

        <div style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; width: 200px; background-color: #f9f9f9;">
            <h3>Sessions</h3>
            <a href="{{ path('app_session_index') }}" class="btn">Gérer</a>
        </div>

        <div style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; width: 200px; background-color: #f9f9f9;">
            <h3>Étudiants</h3>
            <a href="{{ path('app_etudiant_index') }}" class="btn">Gérer</a>
        </div>

    </div>
</div>
{% endblock %}
