<form method="post" action="{{ path('app_filiere_delete', {'id': filiere.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette filière ?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ filiere.id) }}">

    <button class="btn">Supprimer</button>
</form>
