{% extends 'base.html.twig' %}

{% block title %}Modifier la Filière{% endblock %}

{% block body %}
    <h1>Modifier la Filière</h1>

    {{ include('filiere/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <br>

    <a href="{{ path('app_filiere_index') }}">Retour à la liste</a>

    <br><br>

    {{ include('filiere/_delete_form.html.twig') }}
{% endblock %}
