{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Filière{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Filière</h1>

    {{ include('filiere/_form.html.twig') }}

    <br>

    <a href="{{ path('app_filiere_index') }}">Retour à la liste</a>
{% endblock %}
