<form method="post" action="{{ path('app_diplome_delete', {'id': diplome.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce diplôme ?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diplome.id) }}">

    <button class="btn">Supprimer</button>
</form>
