{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Diplôme{% endblock %}

{% block body %}
    <h1>Créer un nouveau Diplôme</h1>

    {{ include('diplome/_form.html.twig') }}

    <br>

    <a href="{{ path('app_diplome_index') }}">Retour à la liste</a>
{% endblock %}
